---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
// import CustomComponent from './CustomComponent.astro';
---

<StarlightPage frontmatter={{ title: 'Mi página personalizada' }}>
  <p>Esta es una página personalizada con un componente personalizado:</p>
  <!-- <CustomComponent /> -->
</StarlightPage>